* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px solid red; */
}

body {
  /* width: 480px;
  height: 1080px; */
  margin: 0 auto;
  background-color: bisque;
}

h1 {
  text-align: center;
}

.weeks {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.checkbox {
  width: 10px;
  height: 10px;
  margin: 1px;
  border: 1px solid red;
  border-radius: 50%;
}
